

#social-icons {
    width: 15%;
    height: auto;
    padding-left: 13%;
}

.signup_button {
  margin-bottom: 10%;
}

.success {
    font-family: 'Bebas Neue Bold';
    text-align: center;
    margin-top: 10%;
}

.success h1 {
    font-size: 50px;
}

.success h3 {
	font-family: 'Fira Sans';
	font-size: 22px;
}

#refer_success {
    margin-bottom: 40%;
}

.refer-a-friend form {
  display: block;
  text-align: center;
  font-family: 'Fira Sans';
  position: relative;
}

#referral {
  float: left;
  padding: 0 0 100px 0;
  display: inline-block;
  text-align: left;
}

#referral input {
  width: 70%;
  margin-left: 15%;
}

@media (max-width: 1000px) {
  .success h1 {
    padding-top: 10%;
  }

  #refer_success {
    padding-top: 40%;
    padding-bottom: 90%;
  }

  #referral {
    display: block;
    float: none;
    width: 100%;
  }
}

form {
    margin-top: 5%;
}

@media screen and (max-width:1000px) {
  .signup_button {
      width: 27%;
  }
}

.footer {
  list-style:none;
  background-color: black;
  overflow: scroll;
  padding-left: 5%;
  margin-bottom: 0;
  margin-top: 0;
}

.footer h1 {
  float: left;
  color: white;
  display: block;
  position: relative;
  font-size: 35px;
  padding-top: 1%;
  margin-top: 0;
  font-family: 'Bebas Neue Regular';
}

.footer li {
  display:inline;
  float: right;
  padding-top: 2%;
  max-width: 42px;
}

.footer li img {
  width: 75%;
  margin-top: -20%;
}

#footer-social {
  margin-right: 5%;
}