@font-face {
  font-family: 'Bebas Neue Bold';
  src: url('fonts/BebasNeueBold.eot');
  src: url('fonts/BebasNeueBold.eot?#iefix') format('embedded-opentype'),
      url('fonts/BebasNeueBold.woff') format('woff'),
      url('fonts/BebasNeueBold.ttf') format('truetype'),
      url('fonts/BebasNeueBold.svg#FontName') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue Regular';
  src: url('fonts/BebasNeueRegular.eot');
  src: url('fonts/BebasNeueRegular.eot?#iefix') format('embedded-opentype'),
      url('fonts/BebasNeueRegular.woff') format('woff'),
      url('fonts/BebasNeueRegular.ttf') format('truetype'),
      url('fonts/BebasNeueRegular.svg#FontName') format('svg');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

.navbar-default {
  background-color: white;
}

.navbar-brand {
  padding-left: 30%;
} 

.dropdown-menu {
  font-family: 'Bebas Neue Regular';
  font-size: 22px;
}

#social-icons {
  width: 15%;
  height: auto;
}

.navbar-default .navbar-nav > li > a {
  color: black;
}

#nav-refer {
  margin: 3% 0 0 5%;
  padding: 0 2% 0 2%;
  border-radius: 25px;
  background: #FFC52D;
  font-family: 'Bebas Neue Bold';
  font-size: 22px;
  text-align: center;
  color: black;
  text-decoration: none;
}

@media (max-width: 768px) {
  .navbar-brand {
    padding-left: 10px;
    padding-bottom: 50px;
  }
}

.dropdown-toggle.hidden-sm.hidden-md.hidden-lg {
  font-family: 'Bebas Neue Bold';
  font-size: 22px;
}

#social-icons.hidden-sm.hidden-md.hidden-lg {
  font-family: 'Bebas Neue Bold';
  font-size: 22px;
}

#nav-refer.hidden-sm.hidden-md.hidden-lg {
  font-family: 'Bebas Neue Bold';
  font-size: 22px;
  padding: 0;
  margin: 0 30% 0 30%;
}

.header {
  background-image: url('/images/girl_smiling2.png');
  background-size: cover;
  background-color: #E6E6E6;
  clear: both;
  margin-top: 5%;
}

@media screen and (max-width:1150px) {
    .header { 
        background: none;
        background-color: #E6E6E6;
        clear: both;
        margin-top: -5%;
    }
}

#logo_column {
    display: block;
    text-align: center;
    padding-bottom: 5%;
    font-family: 'Fira Sans';
    position: relative;
}

#logo_column img {
    max-width: 25%;
    max-height: auto;
}

#logo_column h3 {
    padding-bottom: 2%;
    font-size: 24px;
    width: 20%;
    position: absolute;
    top: 35%;
    left: 40%;
}

@media screen and (max-width:1150px) {
    #logo_column h3 { 
        position: relative;
        width: 20%;
        padding-bottom: 0;
    }
}

form {
    margin-top: 5%;
}

input {
    border:none;
    background-color:#FFFFFF;
    width: 18%;
    padding: 10px;
    margin: 5px;
    border-bottom: 1px solid black;
    font-family: 'Bebas Neue Regular';
    font-size: 20px;
}

@media screen and (max-width:1150px) {
    input { 
        width: 50%;
    }
}

.signup_button {
  padding: 1% 5% 1% 5%;
  width: 15%;
  margin: 30px;
  border-radius: 25px;
  background:#FFC52D;
  font-family: 'Bebas Neue Bold';
  font-size: 28px;
  text-align: center;
  color: black;
}

@media screen and (max-width:1000px) {
  .signup_button { 
      width: 27%;
  }
}

.text_bubble_column {
  text-align: left;
  font-family: 'Fira Sans';
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 18% 5% 0 25%;
  font-size: 16px;
}

#shine_text_bubble {
  background: url('/images/chat_bubble.png');
  width: 32%;
  background-size: 100% 70%;
  background-repeat: no-repeat;
  float: right;
  margin: 1% 10% 0 10%;
  clear: both;
  color: white;
  padding: 3% 2% 9% 4%;
  text-align: left;
}

#user_text_bubble {
  background: url('/images/chat_bubble2.png');
  width: 32%;
  background-size: 100% 70%;
  background-repeat: no-repeat;
  float: right;
  margin: -60px 9% 0 10%;
  clear: both;
  color: white;
  padding: 3% 3% 5% 4%;
  text-align: left;
}

#shine_text_bubble_2 {
  background: url('/images/chat_bubble.png');
  width: 32%;
  background-size: 100% 70%;
  background-repeat: no-repeat;
  float: right;
  margin: -20px 10% 0 10%;
  clear: both;
  color: white;
  padding: 3% 3% 6% 4%;
  text-align: left;
}

@media screen and (max-width:1150px) {
  .text_bubble_column { 
      display:none 
  }
}

.col-md-4 {
  text-align: center;
  color: black;
  background-color: white;
  overflow: scroll;
}

.col-md-4 h3 {
  font-family: 'Bebas Neue Bold';
  font-size: 40px;
}

.col-md-4 img {
  margin: 0 auto;
  margin-top: 150px;
  height: 150px;
}

#mail {
  height: 70%;
  padding: 30px 0 15px 0;
}

.col-md-4 p {
  font-family: 'Fira Sans';
  font-size: 16px;
  width: 80%;
  margin-left: 10%;
}

.testimonials {
  margin-top: 10%;
  background: #E6E6E6;
  overflow: scroll;
}

.testimonials img {
  margin-top: 10%;
  width: 70%;
  height: auto;
}

.testimonials h2{
  font-family: 'Bebas Neue Bold';
  font-size: 40px;
  padding: 3% 0 0 5%;
  margin-top: 5%;
  color: black;
}

#testimonials {
  background: #E6E6E6;
  overflow: scroll;
  font-size: 16px;
  color: black;
  font-style: italic;
  padding-bottom: 5%; 
}

.refer-a-friend h2{
  margin-top: 5%;
  padding-top: 5%;
  font-family: 'Bebas Neue Bold';
  font-size: 40px;
  padding: 3% 0 0 5%;
  text-align: left;
}

.refer-a-friend form {
  display: block;
  text-align: center;
  font-family: 'Fira Sans';
  position: relative;
}

#referral {
  float: left;
  padding: 0 0 100px 0;
  display: inline-block;
  /*width: 60%;*/
  text-align: left;
}

#referral input {
  width: 70%;
  margin-left: 15%;
}

@media (max-width: 1000px) {
  #referral {
      display: block;
      float: none;
      width: 100%;
  }
}

.contact {
  padding-bottom: 10%;
  overflow: scroll;
  background: url('/images/map_icon.png'); 
  background-repeat: no-repeat;
  background-position: 85% 80%;
  background-size: 18%;
  background-color: #E6E6E6;
}

.contact h2 {
  font-family: 'Bebas Neue Bold';
  font-size: 40px;
  padding: 3% 0 2% 5%;
  margin-top: 5%;
  color: black;
}

.contact p {
  font-family: 'Fira Sans';
  text-align: left;
  padding: 0 35% 5% 5%;
  z-index: 1;
  font-size: 16px;
  color: black;
}

.contact a {
  font-style: italic;
  color: #FFC52D;
}

.footer { 
  list-style:none; 
  background-color: black;
  overflow: scroll;
  padding-left: 5%;
  margin-top: 0;
}

.footer h1 {
  float: left;
  color: white;
  display: block;
  position: relative;
  font-family: 'Bebas Neue Regular';
}

.footer li { 
  display:inline; 
  float: right;
  padding-top: 2%;
  max-width: 42px;
}

.footer li img {
  width: 75%;
  margin-top: -20%;
}

#footer-social {
  margin-right: 5%;
}

@media (max-width: 1000px) {
  .footer li img{
      margin-top: 10%;
  }
}