@font-face {
  font-family: 'Bebas Neue Bold';
  src: url('../fonts/BebasNeueBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue Regular';
  src: url('../fonts/BebasNeueRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  height: 100%;
}

footer {
  background-color: black;
  list-style: none;
  padding: 20px;
}

footer a {
  color: white;
  font-family: 'Bebas Neue Regular';
  font-size: 20px;
}

footer a:hover {
  color: white;
  text-decoration: none;
}

footer h1 {
  color: white;
  display: inline;
  font-family: 'Bebas Neue Regular';
}

footer img {
  width: 32px;
}

footer li {
  display: inline;
  padding: 0 6px;
}

footer ul {
  display: inline;
  float: right;
  list-style: none;
  margin-bottom: 0;
  text-align: right;
}

input {
  border: none;
  background-color: #FFFFFF;
  width: 18%;
  padding: 10px;
  margin: 5px;
  border-bottom: 1px solid black;
  font-family: 'Fira Sans';
  font-size: 16px;
}

.navbar-default {
  background-color: white;
}

.signup_button {
  padding: 1% 5% 1% 5%;
  width: 15%;
  margin: 30px;
  border-radius: 25px;
  background:#FFC52D;
  font-family: 'Bebas Neue Bold';
  font-size: 28px;
  text-align: center;
  color: black;
}

@media screen and (max-width:1150px) {
  input {
    width: 50%;
  }
}